### Importacion de dependencias

In [9]:
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

IMPORTAMOS PCA de scikit learn

In [10]:
from sklearn.decomposition import PCA
from sklearn.decomposition import IncrementalPCA

Importamos el modelo de regresi√≥n logistica

In [11]:
from sklearn.linear_model import LogisticRegression

Importamos tambien un escalador para normalizar nuestros datos para que esten entre 0 y 1

In [12]:
from sklearn.preprocessing import StandardScaler

importamos tambien train_test_split par adividir nuestros datos de train y test

In [13]:
from sklearn.model_selection import train_test_split

### Importamos el csv

In [14]:
df = pd.read_csv("./data/heart.csv")

Y = df["target"]
df = df.drop("target", axis=1)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2

Normalizar los datos con StandardScaler

In [15]:
df_features = StandardScaler().fit_transform(df)

### Divimos el datasets en train y test

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(df_features, Y, test_size=0.3, random_state=42)